<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permesinan</title>
    <link rel="icon" type="image/png" href="/gambar/OIP-removebg-preview (13).png">
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/dataGuru.css">
</head>

<body>
    <div class="navbar">
        <div class="logo-container">
            <img alt="Logo" height="40" src="/gambar/WhatsApp_Image_2024-11-13_at_8.19.57_AM-removebg-preview.png"
                width="40" />
            <span>
                Permesinan
            </span>
        </div>
        <nav>
            <a href="/dashboard">
                Home
            </a>
            <a href="#">
                Profil Guru
            </a>
            <a href="/kelas">
                Kelas
            </a>
            <a href="/">
                Logout
            </a>
        </nav>
    </div>
    <div class="intro">
        <div class="intro-text">
            <h2>
                Sambutan Kepala Kopetensi Keahlian
            </h2>
            <p>
                Kami dengan bangga menyambut para siswa Teknik Mesin yang siap menghadapi tantangan dunia industri
                dengan keterampilan dan pengetahuan yang mumpuni.
            </p>
        </div>
        <div>
            <img alt="Welcome image" src="/gambar/Screenshot_2024-11-13_140422-removebg-preview.png"
                class="gurukaporli" />
            <div class="teacher-name">
                Kristian T. Andriatmoko, S.Pd
            </div>
        </div>
    </div>
    <div class="header">
        Profil Guru Pengajar Permesinan
    </div>
    <div class="profile-container">
        <div class="profile" style="margin-left: 10%; margin-right: 10%;">
            <img alt="Profile picture of the first teacher" height="150"
                src="/gambar/Screenshot_2024-11-13_140422-removebg-preview.png" width="150" />
            <div class="info">
                <p><strong>NIP:</strong> 199003042020121007</p>
                <p><strong>Nama:</strong> Kristian T. Andriatmoko, S.Pd</p>
                <p><strong>Alamat:</strong> Jl. Sekarsari Gg. Graha Melasti IV No. 1B Kesiman Kertalangu, Denpasar Timur
                </p>
            </div>
        </div>
        <div class="profile" style="margin-left: 10%; margin-right: 10%;">
            <img alt="Profile picture of the second teacher" height="150"
                src="/gambar/Screenshot_2024-11-13_140254-removebg-preview.png" width="150" />
            <div class="info">
                <p><strong>NIP:</strong> 199511282024211013</p>
                <p><strong>Nama:</strong> I Gusti Agung Ngurah Putranata, S.T.</p>
                <p><strong>Alamat:</strong> Banjar Dinas Tembau, Desa Marga, Kec. Marga, Tabanan</p>
            </div>
        </div>
        <div class="profile" style="margin-left: 10%; margin-right: 10%;">
            <img alt="Profile picture of the third teacher" height="150" src="/gambar/IMG_8643 - kevin kesuma.jpeg"
                width="150" />
            <div class="info">
                <p><strong>NIP:</strong> 199312052024211012</p>
                <p><strong>Nama:</strong> Putu Kevin Kesuma Putra, S.Pd</p>
                <p><strong>Alamat:</strong> BR Kedua, Desa Peguyangan Kangin</p>
            </div>
        </div>
        <div class="profile" style="margin-left: 10%; margin-right: 10%;">
            <img alt="Profile picture of the fourth teacher" height="150"
                src="/gambar/IMG_1899_-_Agus_Mahendra-removebg-preview.png" width="150" />
            <div class="info">
                <p><strong>NIP:</strong> 556677889</p>
                <p><strong>Nama:</strong> Agus Mahendra, ST., MT.
                </p>
                <p><strong>Alamat:</strong> Jl. Batuyang Gg. Elang XI, Batubulan, Sukawati, Gianyar</p>
            </div>
        </div>
        <div class="profile" style="margin-left: 10%; margin-right: 10%;">
            <img alt="Profile picture of the fifth teacher" height="150" src="/gambar/4x6 - Made Mayock.jpg"
                width="150" />
            <div class="info">
                <p><strong>NIP:</strong> 223344556</p>
                <p><strong>Nama:</strong> I Nengah Sumayasa, S.ST
                </p>
                <p><strong>Alamat:</strong> Br. Pasekan Tengah, Abiantuwung, Kediri, Tabanan.
                </p>
            </div>
        </div>
        <div class="profile" style="margin-left: 10%; margin-right: 10%;">
            <img alt="Profile picture of the sixth teacher" height="150"
                src="/gambar/1731384446928831535382644815513_-_Wijaya_Reload-removebg-preview.png" width="150" />
            <div class="info">
                <p><strong>NIP:</strong> 198809292024211017
                </p>
                <p><strong>Nama:</strong> AA. PUTU SEPTIADI WIJAYA, ST
                </p>
                <p><strong>Alamat:</strong> Denpasar</p>
            </div>
        </div>
        <div class="profile" style="margin-left: 10%; margin-right: 10%;">
            <img alt="Profile picture of the seventh teacher" height="150"
                src="/gambar/foto_ibu_250_x_400_px_-_IDA_AYU_RAI_TRISNA_DEWI-removebg-preview.png" width="150" />
            <div class="info">
                <p><strong>NIP:</strong> 19890726202421210</p>
                <p><strong>Nama:</strong> Ida Ayu Rai Trisna Dewi, S.Ag
                </p>
                <p><strong>Alamat:</strong> Banjar Dinas Tengah Semeton Marga Dajan Puri, Marga Tabanan</p>
            </div>
        </div>
        <div class="profile" style="margin-left: 10%; margin-right: 10%;">
            <img alt="Profile picture of the eighth teacher" height="150"
                src="/gambar/foto1.jpeg"
                width="150" />
            <div class="info">
                <p><strong>NIP:</strong> xxxxxxxxxxxxxxxxxx</p>
                <p><strong>Nama:</strong> Pak De Rai</p>
                <p><strong>Alamat:</strong> Bali</p>
            </div>
        </div>
        <div class="profile" style="margin-left: 10%; margin-right: 10%;">
            <img alt="Profile picture of the ninth teacher" height="150"
                src="/gambar/foto2.jpeg"
                width="150" />
            <div class="info">
                <p><strong>NIP:</strong> xxxxxxxxxxxxxxxxxx</p>
                <p><strong>Nama:</strong> Pak Yoga</p>
                <p><strong>Alamat:</strong>Bali</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <a href="https://www.instagram.com/panglimamesin.61/#" class="footer-link" target="_blank">
                <img src="gambar/th-removebg-preview.png" alt="Instagram" class="instagram-icon">
                Instagram
            </a>
            <p>&copy; 2024 Permesinan. All Rights Reserved.</p>
        </div>
    </footer>
    <script src="/js/dataGuru.js"></script>
</body>

</html>