<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permesinan</title>
    <link rel="icon" type="image/png" href="/gambar/OIP-removebg-preview (13).png">
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img alt="Logo" height="40" src="gambar/WhatsApp_Image_2024-11-13_at_8.19.57_AM-removebg-preview.png" width="40" />
            <span>Permesinan</span>
        </div>
        <div class="menu">
            <a href="/login">Home</a>
            <a href="/login">Profil Guru</a>
            <a href="/login">Kelas</a>
        </div>
    </div>
    <div class="content">
        <video autoplay loop muted>
            <source src="/gambar/videoplayback.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay"></div>
        <div class="text">
            <p id="px">
                Selamat Datang di Website Permesinan
            </p>
            <p>
                Selamat Datang di Jurusan Mesin! Di sini, kami berkomitmen untuk membantu Anda mewujudkan impian di dunia teknik...
            </p>
        </div>
        <div class="image">
            <div class="buttons">
                <a href="/register">Sign Up</a>
                <a href="/login">Sign In</a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <a href="https://www.instagram.com/panglimamesin.61/#" class="footer-link" target="_blank">
                <img src="gambar/th-removebg-preview.png" alt="Instagram" class="instagram-icon">Instagram
            </a>
            <p>&copy; 2024 Permesinan. All Rights Reserved.</p>
        </div>
    </footer>
    <div class="f">
        Website ini tidak dapat dibuka menggunakan layar handphone, harap membuka website ini dengan layar desktop atau sejenisnya.
    </div>
    <script src="/js/landing.js"></script>
</body>

</html>
